<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
    </head>

    <body>
        <h1>Forgot Password</h1>
        <hr>
        <form action="" method="post" th:object="${emailDTO}">
            <p>
                <input th:errorclass="error" type="text" name="email" placeholder="Enter email" th:value="*{email}">
                <span th:errors="*{email}"></span>
            </p>
            <p>
                <input type="submit" value="submit">
            </p>
            <p>
                <a href="/auth/login">back to login</a>
            </p>
        </form>
    </body>
</html>