<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/auth/register" method="post" th:object="${userDto}">
        <p>
            name : 
            <input th:errorclass="error" type="text" name="name" placeholder="Enter name" th:value="*{name}">
            <span th:errors="*{name}"></span>
        </p>

        <p>
            Email : 
            <input type="text" name="email" placeholder="Enter email" th:value="*{email}">
            <span th:errors="*{email}"></span>
        </p>
        
        <p>
            Password : 
            <input type="password" name="password" placeholder="Enter password" th:value="*{password}">
            <span th:errors="*{password}"></span>
        </p>
       
        <p>
            Reenter Password : 
            <input type="password" name="reenterPassword" placeholder="Renter password" th:value="*{reenterPassword}">
            <span th:errors="*{reenterPassword}"></span>
        </p>
        <p>
            <input type="submit" value="Register">
        </p>
    </form>
</body>
</html>